dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
emoji==2.10.1
flasgger==0.9.7.1
numpy==1.25.1
pandas==2.2.1
plotly==5.19.0
psycopg2-binary==2.9.9
PyYAML==6.0.1
requests==2.31.0